In [19]:
import pandas as pd

In [20]:
path = '../../OpenITI_EIS1600_MIUs/logs/nasab_unknown.log'

In [21]:
unknown_s = pd.read_csv(path, header=None)
unknown_s

                 0
0             محمد
1           الظفري
2             أحمد
3            الدين
4            ومنهم
...            ...
2933    من أمرائها
2934  أمرائها وكان
2935    وكان جوادا
2936    جوادا تولى
2937         الحسن

[2938 rows x 1 columns]

In [22]:
unknown_vc = unknown_s.value_counts()
unknown_vc.to_csv('../../OpenITI_EIS1600_MIUs/logs/nasab_unknown_vc.csv')
unknown_vc

محمد            217
أحمد             89
ه                56
الوفاة           56
علي              49
               ...
الكلاسة           1
الكلاس            1
الكريم            1
الكرم             1
يونس الأقباي      1
Length: 1445, dtype: int64