In [6]:
from eis1600.processing.preprocessing import get_yml_and_miu_df

In [11]:
path = '../../EIS1600_MIUs/data/0240KhalifaIbnKhayyat/0240KhalifaIbnKhayyat.Tabaqat/MIUs/0240KhalifaIbnKhayyat.Tabaqat.Shia003056-ara1.425185017973.EIS1600'

with open(path, 'r', encoding='utf-8') as miu_file_object:
    yml_handler, df = get_yml_and_miu_df(miu_file_object)

In [12]:
df

                              SECTIONS TOKENS TAGS_LISTS
0                _ء_#=425185017973= $$   None       None
1    _ء_=853423456377= ::UNDEFINED:: ~    وأم       None
2                                 None  أبيها       None
3                                 None    بنت       None
4                                 None   حمزة       None
..                                 ...    ...        ...
137                               None   هلال       None
138                               None     بن       None
139                               None    عمر       None
140                               None     بن       None
141                               None  مخزوم       None

[142 rows x 3 columns]

In [13]:
df['TOKENS'].count()

141

In [14]:
df['TOKENS'].to_list()

[None,
 'وأم',
 'أبيها',
 'بنت',
 'حمزة',
 'بن',
 'عبد',
 'المطلب',
 'أمها',
 'سلمى',
 'بنت',
 'عميس',
 'بن',
 'مالك',
 'بن',
 'النعمان',
 'بن',
 'كعب',
 'بن',
 'مالك',
 'بن',
 'قحافة',
 'بن',
 'عامر',
 'بن',
 'زيد',
 'بن',
 'نسر',
 'بن',
 'وهب',
 'بن',
 'خثعم',
 'بن',
 'أنمار',
 'بن',
 'أراش',
 'بن',
 'عمرو',
 'بن',
 'الغوث',
 'حدثنا',
 'خليفة',
 'قال',
 'حدثنا',
 'بكر',
 'عن',
 'بن',
 'إسحاق',
 'قال',
 'سلمى',
 'بنت',
 'عميس',
 'بن',
 'معد',
 'بن',
 'الحارث',
 'بن',
 'تيم',
 'بن',
 'كعب',
 'بن',
 'مالك',
 'بن',
 'قحافة',
 'بن',
 'عامر',
 'بن',
 'ربيعة',
 'بن',
 'عامر',
 'بن',
 'سعد',
 'بن',
 'مالك',
 'بن',
 'نسر',
 'بن',
 'وهب',
 'بن',
 'خثعم',
 'بن',
 'أنمار',
 'بن',
 'أراش',
 'بن',
 'عمرو',
 'بن',
 'الغوث',
 'وهي',
 'التي',
 'اختصم',
 'فيها',
 'علي',
 'وجعفر',
 'ابنا',
 'أبي',
 'طالب',
 'وزيد',
 'بن',
 'حارثة',
 'فقضى',
 'بها',
 'النبي',
 'صلى',
 'الله',
 'عليه',
 'لجعفر',
 'من',
 'أجل',
 'خالتها',
 'أسماء',
 'بنت',
 'عميس',
 'وكانت',
 'عند',
 'جعفر',
 'بن',
 'أبي',
 'طالب',
 'وزعم',
 'أبو',
 'عبيدة',
 'وأبو',
 'اليقظان',
 'أن',
 'رسول',
 'الله',
 'صلى',
 'الله',
 'عليه',
 'زوجها',
 'أبا',
 'سلمة',
 'بن',
 'عبد',
 'الأسد',
 'بن',
 'هلال',
 'بن',
 'عمر',
 'بن',
 'مخزوم']