In [1]:
from eis1600.processing.preprocessing import get_yml_and_miu_df

In [5]:
path = '../../EIS1600_MIUs/data/0733Nuwayri/0733Nuwayri.NihayatArab/MIUs/0733Nuwayri.NihayatArab.Shamela0010283-ara1.744740694335.EIS1600'

with open(path, 'r', encoding='utf-8') as miu_file_object:
    yml_handler, df_1 = get_yml_and_miu_df(miu_file_object)

df_1

                              SECTIONS   TOKENS TAGS_LISTS
0         _ء_#=744740694335= ||||| فصل     None       None
1    _ء_=505195604292= ::UNDEFINED:: ~      وإن       None
2                                 None     أجرت       None
3                                 None    امرأة       None
4                                 None    نفسها       None
..                                 ...      ...        ...
175                               None     شرحه       None
176                               None       فى       None
177                               None      ذيل       None
178                               None  الإجارة       None
179                               None        .       None

[180 rows x 3 columns]

In [6]:
path = '../../EIS1600_MIUs/data/0808IbnKhaldun/0808IbnKhaldun.Tarikh/MIUs/0808IbnKhaldun.Tarikh.Shamela0012320-ara1.444873069995.EIS1600'

with open(path, 'r', encoding='utf-8') as miu_file_object:
    yml_handler, df_1 = get_yml_and_miu_df(miu_file_object)

df_1

                                              SECTIONS  TOKENS TAGS_LISTS
0    _ء_#=444873069995= |||| (انتقاض منصور بن إسحاق...    None       None
1                    _ء_=966191502768= ::UNDEFINED:: ~     كان       None
2                                                 None  الأمير       None
3                                                 None    أحمد       None
4                                                 None      بن       None
..                                                 ...     ...        ...
234                                               None     إلى       None
235                                               None    خدمة       None
236                                               None  السعيد       None
237                                               None     نصر       None
238                                               None       .       None

[239 rows x 3 columns]